<app-layout></app-layout>
<div class="container">
  <button (click)="openDialogForAddProduct(0)">Add Product</button>

  <h1>Product List</h1>

  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchString" placeholder="Search">
    <button (click)="searchUsers()">Search</button>
  </div>

  <!-- User Table -->
  <table class="user-table">
    <thead>
      <tr>
        <th (click)="changeSortColumn('code')">Product Code</th>
        <th (click)="changeSortColumn('categoryName')">Category Name</th>
        <th (click)="changeSortColumn('brandName')">Brand Name</th>
        <th (click)="changeSortColumn('availableQuantity')">Available Quantity</th>
        <th (click)="changeSortColumn('useQuantity')">Used Quantity</th>
        <th (click)="changeSortColumn('quantity')">Total Quantity</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isNoRecordFound">
        <tr *ngFor="let product of products">
          <td>{{ product.code }}</td>
          <td>{{ product.categoryName }}</td>
          <td>{{ product.brandName }}</td>
          <td>{{ product.availableQuantity }}</td>
          <td>{{ product.useQuantity }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <button (click)="openDialogForAddProduct(product)">edit</button>
            <button (click)="deleteProduct(product)">delete</button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="isNoRecordFound">
        <tr>
          <td colspan="7" class="table-no-record text-center">No records found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="button">
    <button (click)="openCategoryDialog()">Product Category</button>
    <button (click)="openBrandDialog()">Product Brand</button>
  </div>

</div>