<app-layout></app-layout>
<div class="container">
  <h1>User List</h1>
  <button [routerLink]="['/user/detail/', 0]"type="submit">Add User</button>

  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchString" placeholder="Search">
    <button (click)="searchUsers()">Search</button>
  </div>

  <!-- User Table -->
  <table class="user-table">
    <thead>
      <tr>
        <th (click)="changeSortColumn('userCode')">User Code</th>
        <th (click)="changeSortColumn('FirstName')">First Name</th>
        <th (click)="changeSortColumn('LastName')">Last Name</th>
        <th (click)="changeSortColumn('CityName')">City</th>
        <th (click)="changeSortColumn('DepartmentName')">Department</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isNoRecordFound">
        <tr *ngFor="let user of users">
          <td>
            <a [routerLink]="['/user/detail/', user.id]">{{ user.userCode }}</a>
          </td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.cityName}}</td>
          <td>{{user.departmentName}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="isNoRecordFound">
        <tr>
          <td colspan="5" class="table-no-record text-center">No records found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }}</span>{{currentPage }}{{ pageSize }}{{ totalRecords}}
    <br>{{currentPage * pageSize >= totalRecords}}
    <button (click)="nextPage()" [disabled]="currentPage * pageSize >= totalRecords">Next</button>
  </div>
</div>