<app-layout></app-layout>
<div class="about-us">
    <header>
        <h1>About Us</h1>
    </header>

    <body>
        <ng-container id="introduction" class="section">
            <h2>Introduction</h2>
            <p>This is the introduction section, where we provide an overview of our project.</p>
        </ng-container>

        <ng-container id="features" class="section">
            <h2>Features</h2>
            <ul>
                <li>Log in Page with <b>Email</b> and <b>Password</b> validation</li>
                <li>Added support of Auth Guard.</li>
                <p>Log in Page must have proper Email and password.</p>
                <li>Feature 2</li>
                <li>Feature 3</li>
            </ul>
        </ng-container>

        <ng-container id="features" class="section">
            <h2>Features</h2>
            <ul>
                <li>Log in Page with <b>Email</b> and <b>Password</b> validation</li>
                <li>Added support of Auth Guard.</li>
                <p>Log in Page must have proper Email and password.</p>
                <li>Feature 2</li>
                <li>Feature 3</li>
            </ul>
        </ng-container>

        <ng-container id="usage" class="section">
            <h2>Usage</h2>
            <p>Here’s how you can use our project effectively.</p>
        </ng-container>

        <ng-container id="contact" class="section">
            <h2>Contact</h2>
            <p>Contact us for more information or support.</p>
        </ng-container>

        <ng-container id="version-2" class="section">
            <h2>Version-2</h2>
            <p>Details about Version-2 of the project will be listed here.</p>
            <ul>
                <li>Update Email and Password</li>
                <li>Add,Update,Delete Product Category</li>
                <li>Add,Update,Delete Product Brand</li>
            </ul>
        </ng-container>
        <ng-container>
            <button><a class="nav-link" [routerLink]="['/unitTesting']">Unit Testing</a></button>
        </ng-container>
    </body>
</div>