<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">{{ title }}</span>
  </div>
</nav>
<div class="container mt-4">
  <h1>Toaster Example</h1>
  <button class="btn btn-success" (click)="showSuccess()">Show Success</button>
  <button class="btn btn-danger" (click)="showError()">Show Error</button>
  <button class="btn btn-info" (click)="showInfo()">Show Info</button>
</div>
<app-toaster></app-toaster> -->