.dialog-container {
    padding: 20px;
    width: 500px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
  }
  
  .dynamic-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .dynamic-table th,
  .dynamic-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  .button-container {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
  }
  
  button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
    
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .buttonColor {
    background-color: #fff;
    color: #000;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  